node_modules
.pnpm-store
.nuxt
.output
dist
libs/shared/src/**/*.js
libs/shared/src/**/*.js.map
libs/shared/src/**/*.d.ts
libs/shared/src/**/*.d.ts.map
coverage
playwright-report
test-results
.env
.env.*
!.env.example
!.env.deploy.example
.DS_Store
.nx/cache
.nx/workspace-data
docs/.vitepress/.temp
docs/.vitepress/dist
