PORT=3001
DATABASE_URL=postgresql://root:root@localhost:5432/ezinventory?schema=public
SHADOW_DATABASE_URL=postgresql://root:root@localhost:5432/ezinventory_shadow?schema=public
AUTH_PASSKEY_RP_ID=localhost
AUTH_PASSKEY_RP_NAME=EZ Inventory
AUTH_PASSKEY_ORIGIN=http://localhost:3000
